<header>
        <nav>
            <div class="container">
                <div class="nav-links">
                    <div id="gitna">
                        <div id="logo">Restaurant Reviews</div>
                        <div id="resto" class="currentPage"><a href="/">•Home•</a></div>
                        <div id="login"><a href="/logout">•Logout•</a></div>
                        <div id="info"><a href="/user?name={{loggedProfile.username}}" id="usernameLink" style="padding-left: 10px;">{{loggedProfile.username}}</a></div>
                    </div>
                </div>
            </div>
        </nav>
</header>