# Logs
logs
*.log

# Node.js
node_modules/
npm-debug.log


# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Mac OS files
.DS_Store

# Compiled output
dist/

# Other build and package management files
package-lock.json