@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans:opsz,wght@6..12,200;6..12,600&display=swap');

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Noto Sans, Nunito Sans;
    background-color: #E8F4F8;
    background-position: center;
    background-size: 2944px 2420px;
    background-repeat: no-repeat;
}

header {
    background-color: transparent;
    color: black;
    padding: 10px 0;
    position : -webkit-sticky;
    position : sticky;
    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#gitna{
    align-items: center;
    display: flex;
}

#logo{
    font-family: Noto Sans;
    font-size: 1.75rem;
    font-weight: bold;
    flex: 1;
}

#links{
    margin: auto;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: light;
}

.nav-links a:hover {
    font-weight: bold;
}

#resto{
    font-family: Noto Sans;
    flex: center;
    padding-right: 20px;
}

#register{
    font-family: Noto Sans;
    padding-right: 20px;
}

#login{
    font-family: Noto Sans;
    padding-right: 20px;
}

.hero {
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0px;
    font-family: nunito sans;
    color: black;
}

.hero h2 {
    font-family: nunito sans;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff5722;
}

.btn-edit-profile {
    background-color: rgba(112, 255, 119, 0.7); /* Adjust the alpha (fourth) value to control transparency */
    color: #000000;
    border: none;
    padding: 5px; 
    border-radius: 50%; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 10px; 
}

.btn-edit-profile:hover {
    background-color: rgba(0, 160, 0, 0.9); /* Adjust the alpha (fourth) value for the hover effect */
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-restaurants {
    margin-top: 40px;
    align-items: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}

.restaurant-card h3 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    align-items: center;
}

.restaurant-card p {
    margin: 10px 0;
    font-size: 16px;
    color: #777;
    align-items: center;
}

.restaurant-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.restaurant-card a:hover {
    background-color: #ff5722;
}

.establishments {
    margin-top: 40px;
    text-align: center;
    align-items: center;
}

.establishment-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.establishment-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}

.establishment-card h3 {
    margin-top: 10px;
    font-size: 24px;
}

.establishment-card p {
    margin: 10px 0;
    font-size: 16px;
    color: #777;
}

.establishment-card:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#regformat{
    padding-bottom: 5px;
}

#regformat1{
    padding-top: 10px;
    padding-bottom: 5px;
}

.form-group{
    background-color: transparent;
}

.sprite{
    background-image: url('sprites.png');
    background-size: 545px 310px;
    width: 133px;
    height: 151px;
    align-items: center;
}

#beast{
    background-position: 271px 10px;
    display : flex;
    align-items: center;
}

#kalsada{
    background-position: 405px 20px;
}

#bk{
    background-position: -16px 20px;
}

#zarks{
    background-position: 132px 17px;
}

#tinuhog{
    background-image: url(sprites.png);
    background-position: 2px -431px;
    background-size: 543px 298px;
    width: 240px;
    height: 102px;
}

#title{
    font-family: nunito sans;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
}

.button{
    padding-top: 15px;
}

.divider {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.currentPage{
    font-weight: bold;
}

.profileCard{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#header{
    font-weight: 700;
}

#desc{
    font-family: nunito sans;
    font-size: 16px;
    font-weight: regular;
    padding-bottom: 15px;
    align-items: self-start;
    display: flex;
    flex-direction: column;
    text-align: left;
}


#profilePic{
    background-image: url(MJProfilepic.png);
    background-size: 106px 47px;
    background-position: 77px 189px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

#info{
    font-family: nunito sans;
    font-weight: bold;
}

#userReview {
    width: 100%;
    padding: 10px;
    border: 1px solid #ebad29;
    border-radius: 10px;
    font-family: 'Noto Sans', 'Nunito Sans', sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

#rating {
    display: center;
    align-items: center;
}

#rating label {
    margin-right: 10px;
    font-weight: bold;
}

#ratingInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Noto Sans', 'Nunito Sans', sans-serif;
    font-size: 12px;
}

.divider{
    color:black;
}

.hidden{
    display: none;
}

#padding{
    padding-left: 40px;
}

#Review{
    padding-left: 20px;
    display: flex;
    flex-direction : column;
    text-align: left;
}

.like-dislike-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.like-button,
.dislike-button {
    padding: 5px 10px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover,
.dislike-button:hover {
    background-color: #ff5722;
}

.user-review-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.rating-input,
.comment-input {
    flex: 1;
}

.rating-input input,
.comment-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Noto Sans', 'Nunito Sans', sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

#ratingInput {
    margin-bottom: 0;
}